<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.alertobulakenyo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertoBulakenyo">
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Developers"
            android:exported="false" />
        <activity
            android:name=".AccountSettings"
            android:exported="false" />
        <activity
            android:name=".NotifSettings"
            android:exported="false" />
        <activity
            android:name=".SystemSettings"
            android:exported="false" />
        <activity
            android:name=".ViewToAdd"
            android:exported="false" />
        <activity
            android:name=".ViewTrusted"
            android:exported="false" />
        <activity
            android:name=".AddContact"
            android:exported="false" />
        <activity
            android:name=".Request"
            android:exported="false" />
        <activity
            android:name=".EditInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrustedContacts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Privacy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Terms"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Ty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_LS"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Flood"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Fire"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_EQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_SK"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_FA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ty_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LS_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Flood_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fire_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EQ_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Flood"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Typhoon"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Landslide"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fire"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Earthquake"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Walkthrough"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Verification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hotlines"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prepare"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Disaster"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ancmntBody"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".completeInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetStarted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeNav"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>