<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.alertobulakenyo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertoBulakenyo">

        <!--
            

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS1Gw7OYkodkrCcYw_HqqEL3JaF-Kzw8k" />

        <activity
            android:name=".ResidentUsers.EvacStaMaria"
            android:exported="false" />
        <activity
            android:name=".ResidentUsers.EvacSJDM"
            android:exported="false" />
        <activity
            android:name=".ResidentUsers.EvacMeycauayan"
            android:exported="false" />
        <activity
            android:name=".ResidentUsers.EvacMarilao"
            android:exported="false" />
        <activity
            android:name=".ResidentUsers.EvacBocaue"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_EvacStaMaria"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_EvacSJDM"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_EvacMeycauayan"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_EvacMarilao"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_EvacBocaue"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterTy"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterLS"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterFlood"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterFire"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterEQ"
            android:exported="false" />
        <activity
            android:name=".Admins.Admin_DisasterTyInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_DisasterLSinfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_DisasterFloodInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_DisasterFireInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_DisasterEQInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_EditEvac"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.EvacInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Evacuation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Evacuation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Announcement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Announcement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.ViewHotlines"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_EditHotline"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_AddHotline"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_HotStaMaria"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_HotSJDM"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_HotMeycauayan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_HotMarilao"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_HotBocaue"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Hotlines"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_CreateWarning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_Disaster"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_AccountInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_EditAncmnt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_CreateAncmnt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_ChangePass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_SettingsAccount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admins.Admin_AddEvac"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.HotStaMaria"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.HotSJDM"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.HotMeycauayan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.HotMarilao"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.HotBocaue"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.DeleteAcc"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.ChangePass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Developers"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.SettingsAccount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.SettingsNotif"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.EditInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Privacy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Terms"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.AccountInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Ty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_LS"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Flood"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_Fire"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_EQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_SK"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prep_FA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Ty_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.LS_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Flood_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Fire_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.EQ_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Flood"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Typhoon"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Landslide"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Fire"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Earthquake"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Walkthrough"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Verification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.ForgotPass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Hotlines"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prepare"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.Disaster"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentUsers.ancmntBody"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetStarted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>