<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.alertobulakenyo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertoBulakenyo">
        <activity
            android:name=".Walkthrough"
            android:exported="false" />
        <activity
            android:name=".ResetPass"
            android:exported="false" />
        <activity
            android:name=".Verification"
            android:exported="false" />
        <activity
            android:name=".ForgotPass"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Hotlines"
            android:exported="false" />
        <activity
            android:name=".Prepare"
            android:exported="false" />
        <activity
            android:name=".Disaster"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".sample"
            android:exported="false" />
        <activity
            android:name=".ancmntBody"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".Announcement"
            android:exported="false" />
        <activity
            android:name=".completeInfo"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>